{% extends 'home.html' %}
{% block content %}
    <div class="row clearfix">
        <div class="col-12 columns">
            <form action="post/" method="post">
                {% csrf_token %}
                <div class="col-cm-8 col-cm-offset-2 fieldWrapper">
                    {{ form.text.errors }}
                    {{ form.text }}
                </div>
                <input class="btn btn-primary" type="submit" value="Опубликовать">


            </form>
        </div>
        <div class="col-12 columns">
            {% for post in posts %}
                <div class="bl card  bg-light">
                    {{ post.text }}
                <p></p>
                <p>
                    <i class="icon-user"></i> <a href="/user/{{ user.username }}">{{ user }}</a>
                    | {{ post.created_date | date:"d/m/y" }}
                    | <a href=""><i class="glyphicon glyphicon-comment"></i>Comments</a>
                    | <a href=""><i class="glyphicon glyphicon-share-alt"></i>Shares</a>
                    {% if post.hashtag_set.all|length > 0 %}
                    | <i class="icon-tags"></i> Tags:
                      {% for hashtag in post.hashtag_set.all %}
                          <a href=""><span class="label label-info">{{ hashtag }}</span></a>
                          {% endfor %}
                          {% endif %}
                </p>
                </div>
            {% endfor %}


        </div>
    </div>

{% endblock %}
