{% extends 'home.html' %}
{% block content %}
    <div class="row clearfix">
    <div class="col-md12 column">
        <form action="post/" method="post">
            {% csrf_token %}
            <div class="col-md-8 col-md-offset-2 fieldWrapper">
                {{ form.text.errors }}
                {{ form.text }}
            </div>
        </form>
    </div>

        <div class="cm-12 column">
            {% for post in posts %}
            <div class="well">
                {{ post.text }}
            </div>
            {% endfor %}


        </div>
    </div>

{% endblock %}
