{% extends 'home.html' %}
{% block content %}
    <div class="row clearfix">
        <div class="col-12 columns">
            <form action="post/" method="post">
                {% csrf_token %}
                <div class="col-cm-8 col-cm-offset-2 fieldWrapper">
                    {{ form.text.errors }}
                    {{ form.text }}
                </div>
                <input type="submit" value="Post">


            </form>
        </div>
        <div class="col-12 columns">
            {% for post in posts %}
                <div class="bl">
                    {{ post.text }}
                </div>
            {% endfor %}


        </div>
    </div>

{% endblock %}
